
---
layout: post
title: photos
date: 2019-10-22 15:13:38
---
<div>
    </br>
    不要说话：
    </br>
     <audio src="/pho/mp3/不要说话.mp3" controls="controls" preload="preload">
        Your browser does not support the audio element.
    </audio>
</br>
    得而不惜（绝版歌曲）：
    </br>
     <audio src="/pho/mp3/得而不惜.mp3" controls="controls" preload="preload">
        Your browser does not support the audio element.
    </audio>
    <embed src="/pho/vdi/dao.mp4" height="40" width="50">
</div>